*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body{
    font-family: 'Plus Jakarta Sans', sans-serif;
    
}
main{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background-color: hsl(210, 60%, 98%); 
}
.container{
    margin: 2rem;
    width: 700px;
    background-color: white;
    padding: 1.5rem 1rem;
    border-radius: 0.5rem;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}
.box{
    display: flex;
    align-items: center;
}
#notification{
    
    background-color: hsl(219, 85%, 26%);
    margin-left: 0.5rem;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    color: white;
    font-weight: 800;
    border-radius: 0.5rem;
    
}
.mark_all{
    cursor: pointer;
    color: hsl(219, 12%, 42%);
}
.mark_all:hover{
    color:hsl(219, 85%, 26%);
}
p{
    color: hsl(219, 12%, 42%);
}
.notification_container{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    gap: 1rem;
}
.notification_box {
    width: 100%;
    display: flex;
    padding: 1rem;
    
}
.unread{
    background-color: hsl(211, 68%, 94%);
}
.unread p:first-of-type::after{
    content: "";
    background-color: hsl(1, 90%, 64%);
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 50%;
}
img{
    width: 45px;
    height: 45px;
}
.content{
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.time{
    margin-top: 0.2rem;
    color: hsl(219, 14%, 63%);
}
strong{
    cursor: pointer;
    color:  hsl(224, 21%, 14%);
}
strong:hover{
    color:hsl(219, 85%, 26%);
}
.message_card{
    display: flex;
}
.message_box{
    padding: 1rem;
    border: 1px solid hsl(211, 68%, 94%);
    
    cursor: pointer;
    border-radius: 0.3rem;
    margin-top: 1rem;
}
.message_box:hover{
    background-color: hsl(211, 68%, 94%);
}
.chess_image{
    margin-left: auto;
}
b:hover{
    color:hsl(219, 85%, 26%);
    cursor: pointer;
}
@media screen and (max-width:550px){
    .container{
        margin: 0rem;
    }
}